{% extends "layout.html" %}
{% block content %}
    <div class="hero-wrap" style="background-image: url('{{url_for('static',filename='images/bg_1.jpg')}}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          	<div class="text">
	            <h1 class="mb-4 bread">Rooms</h1>
            </div>
          </div>
        </div>
      </div>
    </div>


<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row pt-5">
	        <div class="col-lg-12">
		    		<div class="row">
					{% for r in result %}
		    			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate">
						
		    				<div class="room">
							
		    					<a href="rooms-single.html" class="img d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static',filename='images/room-1.jpg')}});">
		    						<div class="icon d-flex justify-content-center align-items-center">
		    							<span class="icon-search2"></span>
		    						</div>
		    					</a>
		    					<div class="text p-3 text-center">
								
		    						<h3 class="mb-3"><a href="rooms-single.html">{{r.price}} TL</a></h3>
								<!--
		    						<p><span class="price mr-2">{{r.roomno}}</span> <span class="per">room no</span></p>
									-->
									
		    						<ul class="list">
		    							<li><span>Capacity : {{r.capacity}}</span></li>
										<li><span>Room Type : </span>{{r.roomtype}}</li>
		    							<li><span>Indate : </span>{{r.inDate}}</li>
		    							<li><span>Outdate : </span>{{r.outDate}}</li>
		    							<li><span>Adult Bed:</span>{{r.childbed}}</li>
										<li><span>Child Bed:</span>{{r.adultbed}}</li>
		    						</ul>
									<hr>
									<p class="pt-1"><a class="btn-custom" href="{{url_for('book',roomno=r.roomno,price=r.price)}}">Add Basket<span class="icon-long-arrow-right"></span></a></p>
		    						<p class="pt-1"><a class="btn-custom" href="{{url_for('insresdirect',roomno=r.roomno)}}">Book Now <span class="icon-long-arrow-right"></span></a></p>
		    					</div>
								
		    				</div>
						
		    			</div>
					{% endfor %}
		    		</div>
		    	</div>
		    </div>
    	</div>
    </section>
{% endblock content %}